/* Search Bar Component Styles */
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.search-input {
  width: 140px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box;
}

.search-button {
  background-color: red;
  border: 1px black solid;
  color: white;
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  cursor: pointer;
  border-radius: 12px;
  padding: 10px 20px;
  transition: background-color 0.2s;
}

.search-button:hover {
  background-color: darkred;
}

.search-button:active {
  transform: scale(0.98);
}

/* Responsive Design */
@media (min-width: 600px) {
  .search-input {
    padding: 8px;
    border-radius: 10px;
  }

  .search-button {
    padding: 8px 16px;
  }
}
